<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to CampBase.com
			</h1>
			<h2 class="subtitle">
				CampBase is a project management tool that allows you to manage your web development team's projects and information.  This app has been built in Ruby in Rails and was project 3 for General Assembly SEI.
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">So why is CampBase.com a great app?</h3>
					<p>CampBase offers secure sign-in and login for multiple users.  Perfect for the small team looking to plan internal projects and generate future ideas.</p>
					<p>Create, view, edit and remove users, teams and projects with ease.  No limit on the amount of projects, users or teams you can create for your web development team.</p>
					<p>Use the project editor to add text, pictures and detailed information for your entire team.  Each team member can contribute to the project and the details.</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Don't forget to sign up!</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
				<h4 class="subtitle is-4">Already a member?  Sign in to your account</h4>
				<%= link_to 'Log In', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>